@import url('https://fonts.googleapis.com/css?family=Muli|Ovo');

:root {
  --cta-bg-color: #FA5457;
}

* {
  font-family: 'Muli', sans-serif;
}

.hero {
  padding-top: 20%;
  padding-bottom: 20%;
  background-image: url('../images/hands2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sparkle{
  background-image: url('../images/lights2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  background-color: var(--cta-bg-color);
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 0;
  color: white;
  border: solid 2px white;
}

input {
  width: 88%;
  height: 40px;
  margin-bottom: 5%;
  border: solid 2px white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.209);
  color: white;
  padding: 0 5%;
}

textarea {
  border: solid 2px white;
  width: 88%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.209);
  padding: 5% 5%;
  margin-bottom: 3%;
}
